---
import Layout from '../layouts/Layout.astro'
---
<Layout title="kendalspage" classList="lightmode">
<main class="flex-container">
  <div class="wrapper">
<div class="flex-item funcolors p1"><h4>Hades</h4>My mother found him outside in our window well when he was two weeks old during the peak of the Covid Lockdowns. Animal shelters near us were unable to take in any animals, so with very little convincing, I bottle fed and raised him. Now he's almost as loud as me! I asked my Mother to give him a proper name (for the reason she lives with four cats, none of which she had gotten to name). She's a greek mythology fan.</div>
<div class="flex-item funcolors p2"><img src="/images/tinyh.jpg" alt="kitten!"><div>Little Man!</div></div>
  </div>
   <div class="wrapper">
    <div class="flex-item funcolors p1"><h4>Grayson</h4>This is Grayson, but sometimes we call him Pepe! He lived mostly as a street cat, until we adopted him when we moved. After taking him inside and letting him live as an indoor cat, we were suprised to find a very pamper and proper personality hidden. He loves long naps, and wants nothing more than to share one with you on your lap. He's a gentle old man, with no interest of exploring the outdoors anymore. Officially, he's retired!</div>
    <div class="flex-item funcolors p2"><img src="/images/pepe.jpg" alt="pepe cat">He loves his little hut.</div>
  </div>
   <div class="wrapper">
  <div class="flex-item funcolors p1"><h4>Both the boys:</h4>Here's a picture of both the boys together! They don't always get along, but sometimes they like to sleep a foot away from each other. Hades is still young and wants nothing more than a playmate to keep up with him. Grayson is retired. He does not play; please let him rest.</div>
<div class="flex-item funcolors p2"><img src="/images/bothboys.jpg" alt="very cute cat">I want to give them the world<div> </div>
  </div>
</main>
<script is:inline slot="script" src="/js/index.js"></script>
</Layout>