---
import Layout from '../layouts/Layout.astro'
---
<Layout title="kendalspage" classList="lightmode">
<main class="flex-container">
   <div class="wrapper3">
  <div class="flex-item p1"><h4>Ways to contact me:</h4>
  My personal / work email: <a href="kendalcecil@gmail.com">kendalcecil@gmail.com</a>
  Linkedin: <a href="https://www.linkedin.com/in/katherine-ree-940800282/">Still in progress</a>
  </div>
  </main>
  <script is:inline slot="script" src="/js/index.js"></script>
  </Layout>