---
import Layout from '../layouts/Layout.astro'
---
<Layout title="kendalspage" classList="border-big lightmode">
<main class="flex-container">
  <div class="wrapper">
    <div class="flex-item funcolors p1"><h4>A little about me:</h4>I am a passionite full time employee at an Amazon FC. I currently work as a Process Assistant taking ownership in problem solving roles. After working there, I found love for deep diving using a varity of computer tools. I am constantly striving for more information and ways to learn. There is nothing as satisfying as seeing work improve over time, and accomplishing goals. </div>
    <div class="flex-item funcolors p2"><img src="/images/me.JPG" alt="me!"><div>This is my face!</div></div>
  </div>
  <div class="wrapper">
    <div class="flex-item funcolors p1"><h4>Blog post:</h4>I love to travel! Seeing new things and learning about the world hands on is a must for me. I've traveled a little bit around the U.S., and I plan to keep going. From "tourist-traps" to historic monuments, I love it all!</div>
    <div class="flex-item funcolors p2"><img src="/images/washington.jpg" alt="washington-dc">A trip taken to Washinton DC on the fourth of July.</div>
  </div>
  <div class="wrapper">
    <div class="flex-item funcolors p1"><h4>Accomplishments:</h4>Recently I have been gaining experience in Correlation One's Software Devolopment course through Amazon. I am very excited to continue to gain skills and apply them.</div>
    <div class="flex-item funcolors p2"><img src="/images/hades.jpg" alt="very cute cat">A picture of my cat. He deserves the best!<div> </div>
  </div>
</main>
<script is:inline slot="script" src="/js/index.js"></script>
</Layout>

