---
import Layout from '../layouts/Layout.astro'
---
<Layout title="kendalspage" classList="lightmode">
  <main class="flex-container">
<p>COMING SOON</p>
</main>
<script is:inline slot="script" src="/js/index.js"></script>
</Layout>