  <header class="normieheader" id="norman">
    <h1>Kendal Ree</h1>
    <h4>Learning HTML one <> at a time.</h4>
  </header>
<div class="nav-bar"> 
  <button class="button funbutton" id="colorSwitch">ColorSwitch</button>
  <a href="/"><button class="button funbutton" id="home">Home</button></a>
  <a href="/travel"><button class="button funbutton" id="travel">Travel</button></a>
  <a href="/contact"><button class="button funbutton" id="contact">Contact details</button></a>
  <a href="/catpage"><button class="button funbutton" id="cats">Cats!</button></a>
</div>